h1 {
	font-family: "Comic Sans MS", "Comic Sans";
	font-style: bold;
	font-size: 3em;
}

html {
	user-select: none;
	width: 100vw;
	height: 100vh;
}

p, input {
	text-align: center;
	font-size: 1.5em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	white-space: normal;
}

label {
	text-align: center;
	font-size: 1em;
	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;
	white-space: normal;
}